name: Publish to npm

on:
  # 1. Tag 触发规则
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

  workflow_dispatch:


permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
        
      - name: Cd to mcp
        working-directory: ./mcp
        run: | 
          node -v
          npm -v
          node -e 'console.log(require("./package.json").version)'

      - name: Install dependencies
        working-directory: ./mcp
        run: npm ci

      - name: Build
        working-directory: ./mcp
        run: npm run build

      - name: Publish to npm
        working-directory: ./mcp
        run: NODE_AUTH_TOKEN="" npm publish --provenance --access public --verbose
